.popular {
  margin: 50px 0; /* Adjust margin as needed */
  background-color: #f8f9fa; /* Light background color */
  padding: 20px; /* Add padding around the section */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.popular-title {
  text-align: center;
  margin-bottom: 30px; /* Space between title and items */
  font-size: 24px; /* Larger font size for the title */
  color: #333; /* Darker text color */
}

.popular-items {
  display: flex; /* Use flexbox to align items in a row */
  justify-content: space-around; /* Space items evenly */
  flex-wrap: wrap; /* Allow wrapping to new lines if necessary */
}

.image-container {
  flex: 0 0 23%; /* Set each item to take up about 23% of the row */
  text-align: center; /* Center the text under the images */
 
 
 
  overflow: hidden; /* Hide overflow */
 
  
}

.image-container:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.image1 {
  width: 70%; /* Ensure images fill the container */
  height: auto; /* Maintain aspect ratio */
 
  transition: transform 0.3s; /* Smooth scaling effect on hover */
}

.image1:hover {
  transform: scale(1.05); /* Slightly enlarge image on hover */
}

.image-text {
  margin-top: 8px; /* Space between image and text */
  font-size: 16px; /* Font size for item names */
  color: #555; /* Text color */
  font-weight: bold; /* Bold text */
}
