/* Base styles for the CreateUser component */
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .register {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .register h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
  }
  
  .register input,
  .register select {
    width: 91%;
    padding: 0.75rem;
    margin-bottom: 1rem;
   
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  .register input[type="text"],
  .register input[type="email"],
  .register input[type="password"] {
    font-size: 1rem;
  }
  
  .register select {
    font-size: 1rem;
  }
  
  .register button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .register button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  